.editor-canvas-container {
  position: relative;

  width: 100%;
  max-width: 100%;

  height: 600px;
  max-height: 70vh;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  padding: 30px;

  box-sizing: border-box;

  background:
    linear-gradient(
      45deg,
      #334155 25%,
      transparent 25%
    ),

    linear-gradient(
      -45deg,
      #334155 25%,
      transparent 25%
    ),

    linear-gradient(
      45deg,
      transparent 75%,
      #334155 75%
    ),

    linear-gradient(
      -45deg,
      transparent 75%,
      #334155 75%
    );

  background-size: 24px 24px;

  background-position:
    0 0,
    0 12px,
    12px -12px,
    -12px 0;

  background-color: #1E293B;
}


.editor-canvas {
  display: block;

  max-width: 100%;
  max-height: 100%;

  width: auto;
  height: auto;

  object-fit: contain;

  cursor: crosshair;

  touch-action: none;

  transform-origin: center center;

  transition:
    transform 0.2s ease;

  box-shadow:
    0 10px 40px
    rgba(0, 0, 0, .35);
}


/* ========================================
   MÓVIL
======================================== */

@media (max-width: 700px) {

  .editor-canvas-container {
    height: 450px;

    max-height: 65vh;

    padding: 15px;
  }


  .editor-canvas {
    max-width: 100%;
    max-height: 100%;
  }

}